#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
    

body
{
   
    background:linear-gradient(#f54266,#571c8f,#42d4f5);
  font-family: cursive;
    font-size: 25px;
}
#cop_right_footer
{

    font-size: medium;
}


